*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{

height:100vh;

display:flex;
justify-content:center;
align-items:center;

background:linear-gradient(135deg,#ffe8f3,#fff5ef,#fdeeff);

}

.card{

text-align:center;

background:white;

padding:45px;

border-radius:30px;

box-shadow:0 20px 45px rgba(255,150,180,.25);

width:420px;

animation:pop .5s ease;

}

@keyframes pop{

from{
transform:scale(.8);
opacity:0;
}

to{
transform:scale(1);
opacity:1;
}

}

.bear{

width:220px;

margin-bottom:25px;

}

h1{

color:#d86492;

font-size:36px;

margin-bottom:35px;

}

button{

border:none;

padding:15px 40px;

border-radius:50px;

cursor:pointer;

font-size:18px;

font-weight:600;

color:white;

background:linear-gradient(135deg,#ff5f95,#ff9878);

box-shadow:0 12px 25px rgba(255,90,150,.3);

transition:.3s;

}

button:hover{

transform:translateY(-4px);

}